/* ================================= 
  Temporary 
==================================== */
.col {
    border: 5px solid red;
}


/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

.main-header {
    text-align: center;
}

.banner {
    text-align: center;
    padding: 5vw;
}


body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
    margin-left: 2vw;
    margin-right: 1em;
}


h2,
h3,
a {
	color: #093a58;
    
}

h2,
h3 {
	margin-top: .5em;
    margin-left: 2vw;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name a,
.main-nav a {
	text-align: center;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.banner {
	color: #fff;
	background: #3acec2;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
    text-align: center;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
    
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 480px) {
   
/* ================================= 
Create 2-column layout
==================================== */
   .col {
        float:left;
        width: 50%;
    }

    
/* ================================= 
Change to inline
==================================== */
    li {
        display:inline-block;
        margin: 0 3vw;
    }
    
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}



@media (min-width: 769px) {

    /* ================================= 
Create 3-column layout
==================================== */
   .primary {
        float:left;
        width: 30%;
    }
    
    .tertiary {
        float:right;
        width: 30%;
    }
    
    .secondary {
        float:left;
        width: 40%;
    }

    
/* ================================= 
Change to inline
==================================== */
    li {
        display:inline-block;
        margin: 0 3vw;
    }
    
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}



	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}